/* ESTILOS BASE */

*{ 
    padding: 0;
    font-family:Arial, sans-serif;
}

html {
    min-height: flex;
    display: flex;
    position: relative;
    background-image: url("images/fondodos.webp");
    background-size: cover;
}

body {
    font-family: Arial, sans-serif;
    text-align: justify;
    color: #00175ae0;
    border: none;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
    margin:20px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
  
}
 /* ESTILOS TEXTO */

 #text-container {
    align-items: center;
    text-align: center;
    margin-top: -170px;
 }

 
#button {
    background-color: #ffffffe0;
    color: #00175ae0;
    border: none;
    padding: 20px 20px;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

#button:hover {
background-color: #00175ae0;
color: white;
}

footer {
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    color: #00175ae0;
    font-family: Arial, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}